body {
    background: url('../img/hojas.jpg');
    background-attachment: fixed;
}

#logo {
    background-color: springgreen;
}

#menu ul li:hover {
    background: springgreen;
}

.button_more {
    background-color: springgreen;
}

form input[type='submit'] {
    background: springgreen;
}